* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-color: transparent;
  scrollbar-width: 10px;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    cursor: pointer;
    padding-left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 16px 16px #bbbbbb;
    border: solid 3px transparent;
    border-radius: 5px;

    &:hover {
      box-shadow: inset 0 0 16px 16px #a0afcf;
      border: solid 3px transparent;
    }
  }

  &::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
  }

  /* Up */
  &::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #bbbbbb transparent;

    &:hover {
      border-color: transparent transparent #a0afcf transparent;
    }
  }

  /* Down */
  &::-webkit-scrollbar-button:vertical:increment {
    border-width: 12px 6px 0 6px;
    border-color: #bbbbbb transparent transparent transparent;

    &:hover {
      border-color: #a0afcf transparent transparent transparent;
    }
  }
}

.App {
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(210, 219, 243);
}
