.navigation {
  position: sticky;
  top: 20;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100vh;
  color: darkgrey; /* Dark grey text color */
  background-color: white; /* White background */
  padding: 5px 10px;
  
}

.navigation header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 0 15px;
  border-radius: 14px;
  margin-bottom: 10px;
}

.navigation header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1); /* Dark grey line color */
  bottom: 0;
}

.navigation header .profile {
  height: 120px;
  width: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
}

.profile-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Maintain aspect ratio without cropping */
}

.navigation header span {
  font-size: 15px;
}


.item-list {
  font-size: 16px;
  padding-top: 20px;
}

.navigation li.active {
  font-size: 25px;
  color:blue;
	// box-shadow:
	//   0 2.3px 2.7px rgba(0, 0, 0, 0.084),
	//   0 6.3px 7.5px rgba(0, 0, 0, 0.12),
	//   0 15.1px 18.1px rgba(0, 0, 0, 0.156),
	//   0 50px 60px rgba(0, 0, 0, 0.24)
	// ;

	// background-color: #9db6c494;
	// background-color: #f4d07daa;

}