.ongoingTasksCard {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  margin-right: 20px;
  background: linear-gradient(to bottom, rgb(243, 90, 116), rgb(247, 243, 243));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  .centeredNumber {
    font-size: 2em;
  }
  &:hover {
    box-shadow: 0 3px 14px rgba(255, 107, 107, 0.15);
    scale: 1.03;
  }
}
